@import '../../styles/variables.module.scss';

.main {


    min-height:100vh ;
    height: auto;
    gap: 1rem;
   
    width: 100%;
    padding: 6rem 0 0 0;


}
.container {
    
        display: flex;
        flex-wrap: wrap;
    
        min-height:100vh ;
        max-height: auto;
        gap: 1rem;
       
        width: 100%;

        background-color:$BrownLigth;
    
}


