@import '../../styles/variables.module.scss';

.main {
    display: flex;
    flex-wrap: wrap;

    min-height:100vh ;
    max-height: auto;
    gap: 1rem;
   
    width: 100%;
    top:100px;
    position: absolute;
    background-color:$BrownLigth;
}

