@import "../../styles/variables.module.scss";


.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 980px;
   
    background-color: $BrownLigth;

    margin: 1rem auto;
    padding: 1rem;

    box-sizing: border-box;
    min-height: 100vh;
    max-height: auto;
  

    gap: 1rem;
    div {

        max-height: auto;
    }
}

.title {
    font-size: 1.8rem;
    color:$FontColor;
    font-weight: 100;
    margin: 1rem 0 ;
}

.containerTypeProperty {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: .5rem;
    strong {
        font-size: 1.3rem;
        color:$FontColor

    }
    label {
        font-size: 1.2rem;
        input {
            margin: .2rem .5rem;
        }
    }
}

.containerCep {
    strong {
        font-size: 1.2rem;
        display: block;
        margin: .6rem 0;
    }
    label {
        color: $FontColor;
        input {
            display: block;
            width: 100%;
            max-width: 290px;
            padding: .5rem;
            border: none;
            border-radius: 5px;
            margin: .5rem 0;
        }
    }
}

.containerAddress {
    display: grid;
        grid-template-columns: 1fr 1fr;
    width: 100%;
box-sizing: border-box;
    div > span {
        display: block;
    }
    div input {
        width: 290px;

        max-width: 3300px;
   
        border-radius: 3px;
        border: none;
        padding: .5rem;
        box-sizing: border-box;
        margin: .5rem ;
    }
}

.addressNumber {

    input {
        width: 110px !important;
        display: block;
    }
}

.descriptionProperty {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    margin: 50px 0;

    strong {
        font-size: 1.5rem;
    }

    textarea {
        resize: none;
        height: 130px;
        width: 100%;
}
}