@import '@../../../../../styles/variables.module.scss';

.containerMain {
    max-width: 1280px;
    height: auto;
    width: 100%;

    margin: 0 auto;
    box-sizing: border-box;
}

.containerImg {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.containerTitle {
    position: relative;
    width: 100%;
    min-height: 150px;
    height: auto;
    background-color: $BrownLigth;
    padding: 1rem;

    box-sizing: border-box;

    &::after {
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        background-color: $BrownLigth;
        width: 100vw;
        left: -50px;
        top: 0;
        z-index: -1;
    }

    h1 {
        color: $FontColor;
        font-weight: bold;
        font-size: 2rem;
    }

    h2 {
        color: $BrownBold;
        font-size: 1.6rem;
        font-weight: bold;
    }
}

.listOfFeatures {
    max-width: 833px;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;

    h3 {
        margin: 1rem 0;
        display: block;
        color: $FontColor;
    }

    div {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
    }

    div span {
        background-color: $BrownLigth;
        color: $FontColor;
        border-radius: 15px;
        padding: .5rem;
    }
}

.propertyDescription {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    max-width: 833px;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;

    color: $FontColor;

    h3 {
        color: $TagPrice;
        font-size: 1.2rem;
    }

    div {
        display: flex;
        flex-direction: column;
        gap: 15px;

    }

    div p {

        color: $FontColor;
        line-height: 1.2rem;
        padding: .5rem;
    }
}