


  
 .swiper-button-prev {
  color: white;

  padding: 1rem;
}


 .swiper-button-next {
  color:white;
 
 
  padding: 1rem;
 }
 @media screen and (max-width:780px) {
  .swiper-button-prev, .swiper-button-next {
  
    padding: .2rem;

  }
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

