@import '../../styles/variables.module.scss';


.containerSearch {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    padding: .5rem;

    margin: 1rem 0;

    gap:1rem;

    background-color: $BrownLigth;
    box-sizing: border-box;
 
    input {
        width: 90%;
        padding: 1rem;
        border: none;
        outline: none;
      
        border-radius: 5px;
        &::placeholder {
            font-size: 1.2rem;
        }
    }
    button {
        margin: 5px;
        padding: 1rem;

        background-color:$BrownBold;
        color: whitesmoke;

        border: none;
        border-radius: 5px;

        font-weight: bold;

        cursor: pointer;
        transition: all 1s ease-in-out;

        &:hover {
            opacity: .8;
        }
    }
    @media screen and (max-width:780px) {
        flex-wrap: wrap;
        input, button{
            width: 100%;
        }
    }
}