@import '../../styles/variables.module.scss';


.containerSearch {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    padding: .5rem;

    margin: 1rem 0;

    gap:1rem;

    background-color: #F6EEE5;
    input {
        width: 90%;
        padding: 1rem;
        border: none;
        outline: none;
      
        border-radius: 15px;
    }
    button {
        padding: 1rem;
        color:white;
        border: none;
        background-color: black;
        border-radius: 5px;

        font-weight: bold;

        cursor: pointer;
    }
}