@import '../../styles/variables.module.scss';

.header {
    display: flex;
    background-color:$PrimaryColor;
    justify-content: center;
  
    width: 100%;
    height: 100px;

};

.nav {
    display: flex;
    justify-content: space-between;

    align-items: center;

    max-width: 1280px;
    width: 100%;

    font-size: 1.2rem;
    font-weight: bold;
    ul {
        display: flex;
        
    gap: 1rem;

        li a {
           color: rgba(22, 11, 11, 0.87);
        }
    }
}