@import '../../styles/variables.module.scss';


.propertiesFeatured {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: .5rem;

    width: 100%;
    margin: 0 auto;


    h1 {
        display: block;
        width: 100%;
        text-align: center;

        margin: 1rem;
    }
}
